.accessibility-block-wrap {
  padding: 16px;
  background-color: $grey;
  display: none;

  .accessibility-open & {
    display: block;
  }

  .accessibility-block {
    display: flex;
    justify-content: space-between;
    color: $white;
    flex-wrap: wrap;

    div {
      padding: 16px 16px 0;
      width: 25%;
      border-left: dotted 1px #0083ba;

      .accessibility-input {
        display: block;
        padding: 0;
      }
    }

    li::before {
      display: none;
    }
  }

  .accessibility-button-wrap {
    color: $white;
    margin: 32px 16px 0;
    text-align: center;

    .custom-btn {
      color: $white;

      &:hover {
        border-color: #015477;
        background-color: #015477;
      }

      &.accessibility-save {
        margin-left: 16px;

        @media screen and (max-width: $mobile-1) {
          margin-left: 0;
          margin-top: 16px;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-1) {
    .accessibility-block {
      div {
        width: 100%;
        border-right: none;
      }
    }
  }

  .form_field_checkbox + .form_control_indicator,
  .form_field_radio + .form_control_indicator {
    background: $white;
  }
}

.accessibility-menu-btn-wrap {
  .navigation-menu &{
    margin-top: 20px;
  }

  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
  }
}


// =============================================================================
// HIGH CONTRAST
// =============================================================================
.accessibility-colors {
  header,
  main,
  footer {
    background-color: $black;
    color: #ff0;
  }

  .header-top {
    background-color: $black;
  }

  .site-footer {
    .dark-background,
    .light-background {
      color: #ff0;
    }

    .footer-menu {
      color: #ff0;
    }
  }

  .dark-background,
  .light-background {
    color: #ff0;
    background-color: $black;

    .content-area {
      color: #ff0;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      a,
      ul,
      ol,
      dl,
      pre,
      table {
        color: #ff0;

        &.custom-btn {
          color: #ff0;
          border-color: #ff0;
          background-color: $black;
          &:hover {
            background-color: $grey;
            border-color: #ff0;
          }
        }
      }
      .form_submit {
        color: #ff0;
        input {
          color: #ff0;
        }
      }
    }

    .content-area {

      table {
        th, td {
          border-color: #ff0;
          color: #ff0;
        }
      }

      .form_field {
        .form_field_label,
        .edy-fe-label {
          border-color: #ff0;
          color: #ff0;
        }
      }

      .form_field_textfield,
      .form_field_textarea,
      label:not(.form_field_label) {
        border-color: #ff0;
        color: #ff0;
      }


      .form_submit {
        input {
        background-color: $black;
        border: 2px solid #ff0;
        color: #ff0;
          &:hover {
            background-color: $grey;
            border: 2px solid #ff0;
          }
        }
      }

      .form_field_checkbox + .form_control_indicator,
      .form_field_radio + .form_control_indicator {
        background-color: #ff0;
      }
    }

    .header-title a,
    .header-title a:hover {
      color: #ff0;
    }

    .menu li a:not(.untranslated) {
      color: #ff0;
    }

    .menu li.selected a {
      color: #ff0;
    }

    .lang-title {
      color: #ff0;
    }

    .lang-menu {
      &.menu-language-list {
        .lang-title a {
          color: #ff0;

          &.is-active,
          &:hover {
            color: #ff0;
          }
        }

        .lang-title a.selected {
          color: #ff0;
        }
      }
    }

    .voog-reference svg path {
      fill: #ff0;
    }

    .site-options .search-btn svg path {
      fill: #ff0;

      @media screen and (max-width: $tablet-3) {
        .search-open & {
          fill: #ff0;
        }
      }
    }
  }

  .menu-main {
    color: #ff0;
  }

  @media screen and (max-width: $tablet-1) {
    .mobile-menu-toggler {
      span {
        &,
        &:before,
        &:after {
          background-color: $black;

          .dark-background & {
            background-color: $black;
          }

          .language-flags-disabled & {
            .lang-menu-btn {
              .lang-title {
                color: #ff0;
              }
            }
          }
        }
      }
    }

    #mobile-menu {
      color: #ff0;
      background-color: $black;
      .search-open-btn {
        svg {
          fill: #ff0;
        }
      }

      ul {
        li {
          color: #ff0;
        }

        a {
          color: #ff0;
        }
      }

      .navigation-menu {
        ul {
          a {
            &.selected {
              color: #ff0;
            }
          }
        }
      }

      .lang-menu {
        ul {
          li {
            a {
              &.is-active {
                color: #ff0;
              }
            }
          }
        }
      }
    }
  }

  .lang-flag:before {
    background-color: $black;
  }
}

.lang-menu {
  &.menu-language-list {
    .lang-title {
      a {
        &.is-active {
          color: #ff0;
        }
      }
    }
  }

  li {
    a {
      color: #ff0;
    }
  }

  a {
    &.lang-flag {
      .dark-background & {
        .accessibility-colors & {
          color: #ff0;

          &:hover {
            color: #ff0;
          }
        }
      }
    }
  }
}

.lang-menu-btn {
  .lang-title-inner {
    &:after {
      border-color: #ff0 transparent transparent transparent;

      .dark-background & {
        .accessibility-colors & {
          border-color: #ff0 transparent transparent transparent;
        }
      }
    }
  }
}

//==============================================================================
// SIZE LARGE
//==============================================================================

.accessibility-size-large {
  .footer-menu {
    font-size: 19px;
  }

  .content-area {
    font-size: 19px;

    &.accessibility-block-wrap {
      font-size: 16px;
      div {
        label,
        ul {
          font-size: 16px;
        }

        h2 {
          font-size: 24px;
        }
      }

      a.custom-btn, div.custom-btn {
        font-size: 16px;
      }
    }

    .site-footer & {
      font-size: 19px;
    }

    pre,
    code {
      font-size: 19px;
    }

    p,
    ul,
    ol,
    dl {
      font-size: 19px;
    }

    h1 {
      &,
      a,
      a:hover {
        font-size: 33px;
        font-weight: 300;
      }
    }

    h2 {
      font-size: 27px;
    }

    h3 {
      font-size: 23px;
    }

    h4 {
      font-size: 19px;
    }

    h5,
    h6 {
      font-size: 19px;
    }

    a.custom-btn, div.custom-btn {
      font-size: 19px;
    }

    table {
      th, td {
        font-size: 19px;
      }
    }
  }

  .main-feature {
    .feature-content {
      font-size: 19px;
    }
  }

  .content-area {

    .form_field {
      .form_field_label,
      .edy-fe-label {
        font-size: 19px;
      }
    }

    .form_field_textfield,
    .form_field_textarea,
    label:not(.form_field_label) {
      font-size: 19px;
    }


    .form_submit {
      input {
        font-size: 19px;

      }
    }
  }
}

//==============================================================================
// SIZE HUGE
//==============================================================================

.accessibility-size-huge {
  .footer-menu {
    font-size: 22px;
  }

  .content-area {
    font-size: 22px;

    &.accessibility-block-wrap {
      font-size: 16px;

      div {
        label,
        ul {
          font-size: 16px;
        }

        h2 {
          font-size: 24px;
        }
      }

      a.custom-btn, div.custom-btn {
        font-size: 16px;
      }
    }

    .site-footer & {
      font-size: 22px;
    }

    pre,
    code {
      font-size: 22px;
    }

    p,
    ul,
    ol,
    dl {
      font-size: 22px;
    }

    h1 {
      &,
      a,
      a:hover {
        font-size: 36px;
        font-weight: 300;
      }
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 26px;
    }

    h4 {
      font-size: 22px;
    }

    h5,
    h6 {
      font-size: 22px;
    }

    a.custom-btn, div.custom-btn {
      font-size: 22px;
    }

    table {
      th, td {
        font-size: 22px;
      }
    }
  }

  .main-feature {
    .feature-content {
      font-size: 23px;
    }
  }
  .content-area {

    .form_field {
      .form_field_label,
      .edy-fe-label {
        font-size: 23px;
      }
    }

    .form_field_textfield,
    .form_field_textarea,
    label:not(.form_field_label) {
      font-size: 22px;
    }


    .form_submit {
      input {
        font-size: 22px;

      }
    }
  }
}

//==============================================================================
// LINE HEIGHT LARGE
//==============================================================================

.accessibility-line-height-large {
  line-height: 2.5;

  .content-area,
  .site-header,
  .site-footer {
    line-height: 2.5;

    &.accessibility-block-wrap {
      line-height: 1.7;
    }
  }

  .main-feature {
    .feature-content {
      line-height: 2.5;
    }
  }
}

//==============================================================================
// LINE HEIGHT HUGE
//==============================================================================

.accessibility-line-height-huge {
  line-height: 3.5;

  .content-area,
  .site-header,
  .site-footer {
    line-height: 3.5;

    &.accessibility-block-wrap {
      line-height: 1.7;
    }
  }

  .main-feature {
    .feature-content {
      line-height: 3.5;
    }
  }
}
